<button class={{this.checkButtonClass @theme @outer}} type="button">

  {{#if @btnImg}}
    <img
      class={{this.checkImageClass @outer}}
      src={{@btnImg}}
      alt={{@btnImgAlt}}
    />
  {{/if}}

  <p class="button__content">
    {{#if @smallText}}
      <span class="button__text button__text--small">{{@smallText}}</span>
    {{/if}}
    <span class="button__text">{{@text}}</span>
  </p>
</button>